<HTML><HEAD>
<meta http-equiv="refresh" content="300"/>
{% block extra_head %}

<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/widgets.css"/>

<script type="text/javascript" src="/myadmin/jsi18n/"></script>
<script type="text/javascript" src="/admin/media/js/core.js"></script>
<script type="text/javascript" src="/admin/media/js/admin/RelatedObjectLookups.js"></script>

{{ eventform.media }}

{% endblock %}

<link rel="stylesheet" type="text/css" href="/media/styles/fbsr.css" />
<link rel="icon" type="image/png" href="/media/favicon.png" />

<script type="text/javascript">
// <![CDATA[
function showhide(id){
  if (document.getElementById) {
    obj = document.getElementById(id);
    if (obj.style.display == "none"){
      obj.style.display = "";
    } else {
      obj.style.display = "none";
    }
  }
}

function hideshowon(obj,div,selectedvalue) {
  txt = obj.options[obj.selectedIndex].value;
  document.getElementById(div).style.display = 'block';
  if ( txt.match(selectedvalue) ) {
    document.getElementById(div).style.display = 'none';
  }
}

function showhideon(obj,div,selectedvalue) {
  txt = obj.options[obj.selectedIndex].value;
  document.getElementById(div).style.display = 'none';
  if ( txt.match(selectedvalue) ) {
    document.getElementById(div).style.display = 'block';
  }
}

function disableon(obj,div,selectedvalue) {
  txt = obj.options[obj.selectedIndex].value;
  document.getElementById(div).disabled = 'false';
  if ( txt.match(selectedvalue) ) {
    document.getElementById(div).disabled = 'true';
  }
}
// ]]>
</script>

</HEAD><BODY>


		<div id="page-container">
			<div id="cx-gate"></div>
			<div id="cx-left">
			<!--div class="cxf"></div><div class="cxf"></div><div class="cxf"></div><div class="cxf"></div-->
			</div>
			<div id="cx-right">
			<!--div class="cxf"></div><div class="cxf"></div><div class="cxf"></div><div class="cxf"></div-->
			</div>
			<div id="top-margin">
				<div id="search">
					<form method="get" action="http://www.google.com/search">
						<p>
							<input type="hidden" name="as_dt" value="i">

							<input type="hidden" name="as_sitesearch" value="">
							<input class="text" type="text" name="q" maxlength="255">
							<input type="submit" id="search-button" value="Search">
						</p>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<div id="page-content">

				<div id="masthead">
					<h1>Bókin</h1>
				</div>
				<div id="column-container">
					<div id="left-column">
						<div class="inside-column">


{%regroup current_registrations|dictsort:"event_name" by event_name as event_name_list %} 
<ul>
{% for event_name in event_name_list %}
    <li><H2>{{ event_name.grouper }} <b>({{event_name.list|length}})</b></H2>
    <ul>
    <table>
        {% for item in event_name.list %}
	<tr>
	<td>{{item.registereddate}}</td>
	{% if item.imageurl %}
	  <td><img src="{{item.imageurl}}" class="reduced50"/></td>
	{% else %}
	    <td><img src="./media/nilli.jpg" class="reduced50"/></td>
	{% endif %}

      	
	<td><b>{{ item.fullname }}</b> {{ item.user_group}} {{ item.PhoneNumer}}</td>
	<td><form action="/bokin/atburdur/afskraning/" method="post"><input type="hidden" name="id" value="{{item.id}}"/><input type="submit" value="Stimpla út"/></form></td>
	</tr>
        {% endfor %}
    </table>
    </ul>
    </li>
{% endfor %}
</ul>


						</div>
					</div>
					<div id="right-column">
						<div class="inside-column">

							<ul class="menu">
								<li><a href="bokin/atburdir">Síðustu atburðir</a></li>
								<li><a href="bokin/notendur">Notendur</a></li>
								<li><a href="">Tölfræði</a></li>
								<li><a href="">Lager</a></li>
								<li><a href="http://wiki.github.com/axeltomasson/fbsr-bokin/">Hjálp</a></li>
								<li><a href="http://github.com/axeltomasson/fbsr-bokin/issues">Skrá villu</a></li>
							</ul>
							<p class="block">
							
							<DIV id="error">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</DIV>


<form action="/bokin/atburdur/skraning/" method="post">
  Kennitala: <input type="text" name="SSN" id="SSN" value="" onfocus="showhideon(document.getElementById('event_id'),'new_event','new')"/>
    


  
{% if eventform.errors %}
  
      <select id="event_id" name="event_id" onchange="showhideon(this,'new_event','new');hideshowon(this,'cancel_event','new');">
      <option value="new">-- Skrá nýjan atburð --</option>
    {% for event in open_events.all %}
    <option value="{{ event.id }}">{{ event.Name }}</option>
    {% endfor %}
    
    </select><br/>
  
  <div style="display: block;" id="new_event">
  {{ eventform.as_p }}
  
  </div>
 {% else %}
 
    <select id="event_id" name="event_id" onchange="showhideon(this,'new_event','new');hideshowon(this,'cancel_event','new');">
    {% for event in open_events.all %}
    <option value="{{ event.id }}">{{ event.Name }}</option>
    {% endfor %}
    <option value="new">-- Skrá nýjan atburð --</option>
    </select><br/>

 
 <div style="display: none;" id="new_event">
  {{ eventform.as_p }}
  
  </div>
{% endif %}


      <input type="submit" name="bsubmit" value="Stimpla inn" /><br/>
    <input type="submit" name="bsubmit" value="Loka atburði" id="cancel_event"/><br/>
    <a href="/bokin/notandi/skra/">Skrá nýjan nilla</a>
  <br/>
</form>


							
							</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div id="footer">

				<p>
					FBSR 2009  (útgáfa 0.0.2)
				</p>
			</div>
		</div>





</BODY>
</HTML>

