<HTML><HEAD>

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/widgets.css"/>

<script type="text/javascript" src="/myadmin/jsi18n/"></script>
<script type="text/javascript" src="/admin/media/js/core.js"></script>
<script type="text/javascript" src="/admin/media/js/admin/RelatedObjectLookups.js"></script>

{{ eventform.media }}

{% endblock %}

<link rel="stylesheet" type="text/css" href="/media/styles/fbsr.css" />
<link rel="icon" type="image/png" href="/media/favicon.png" />

<script type="text/javascript">
// <![CDATA[
function showhide(id){
  if (document.getElementById) {
    obj = document.getElementById(id);
    if (obj.style.display == "none"){
      obj.style.display = "";
    } else {
      obj.style.display = "none";
    }
  }
}

function hideshowon(obj,div,selectedvalue) {
  txt = obj.options[obj.selectedIndex].value;
  document.getElementById(div).style.display = 'block';
  if ( txt.match(selectedvalue) ) {
    document.getElementById(div).style.display = 'none';
  }
}

function showhideon(obj,div,selectedvalue) {
  txt = obj.options[obj.selectedIndex].value;
  document.getElementById(div).style.display = 'none';
  if ( txt.match(selectedvalue) ) {
    document.getElementById(div).style.display = 'block';
  }
}

function disableon(obj,div,selectedvalue) {
  txt = obj.options[obj.selectedIndex].value;
  document.getElementById(div).disabled = 'false';
  if ( txt.match(selectedvalue) ) {
    document.getElementById(div).disabled = 'true';
  }
}
// ]]>
</script>



</HEAD><BODY>
<DIV id="outerWrapper">
  <DIV id="header"> <b>Bókin</b></DIV>

  <DIV id="contentWrapper">


<DIV id="error">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</DIV>
<form action="/bokin/atburdur/skraning/" method="post">
  <table>
  <tr>

    <td>Kennitala: <input type="text" name="SSN" id="SSN" value="" onfocus="showhideon(document.getElementById('event_id'),'new_event','new')"/></td>
    
    <td><select id="event_id" name="event_id" onchange="showhideon(this,'new_event','new');hideshowon(this,'cancel_event','new');">
    {% for event in open_events.all %}
    <option value="{{ event.id }}">{{ event.Name }}</option>
    {% endfor %}
    <option value="new">-- Skrá nýjan atburð --</option>
    </select></td>

  

  
  <div style="display: none;" id="new_event">
  {{ eventform.as_p }}
  
  </div>
  
      <td><input type="submit" name="bsubmit" value="Stimpla inn" /></td>
    <td><input type="submit" name="bsubmit" value="Loka atburði" id="cancel_event"/></td>
    <td><a href="/bokin/notandi/skra/">Skrá nýjan nilla</a></td>
  </tr>  </table><br/>
</form>





<!--<form action="/admin/bokin/event/add/" method="get"><input type="submit" value="Skrá atburð"/></form>-->
<DIV id="content">
{%regroup current_registrations|dictsort:"event_name" by event_name as event_name_list %} 
<ul>
{% for event_name in event_name_list %}
    <li><H2>{{ event_name.grouper }} <b>({{event_name.list|length}})</b></H2>
    <ul>
    <table>
        {% for item in event_name.list %}
	<tr>
	<td>{{item.registereddate}}</td>
	{% if item.imageurl %}
	  <td><img src="{{item.imageurl}}" class="reduced50"/></td>
	{% else %}
	    <td><img src="./site_media/nilli.jpg" class="reduced50"/></td>
	{% endif %}

      	
	<td><b>{{ item.fullname }}</b> {{ item.user_group}} {{ item.PhoneNumer}}</td>
	<td><form action="/bokin/atburdur/afskraning/" method="post"><input type="hidden" name="id" value="{{item.id}}"/><input type="submit" value="Stimpla út"/></form></td>
	</tr>
        {% endfor %}
    </table>
    </ul>
    </li>
{% endfor %}
</ul>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>

