<HTML><HEAD>
<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/widgets.css"/>

<link rel="stylesheet" type="text/css" href="/media/styles/fbsr.css" />
<link rel="icon" type="image/png" href="/media/favicon.png" />

</HEAD><BODY>


		<div id="page-container">
			<div id="cx-gate"></div>
			<div id="cx-left">
			<!--div class="cxf"></div><div class="cxf"></div><div class="cxf"></div><div class="cxf"></div-->
			</div>
			<div id="cx-right">
			<!--div class="cxf"></div><div class="cxf"></div><div class="cxf"></div><div class="cxf"></div-->
			</div>
			<div id="top-margin">
				<div id="search">
					<form method="get" action="http://www.google.com/search">
						<p>
							<input type="hidden" name="as_dt" value="i">

							<input type="hidden" name="as_sitesearch" value="">
							<input class="text" type="text" name="q" maxlength="255">
							<input type="submit" id="search-button" value="Search">
						</p>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<div id="page-content">

				<div id="masthead">
					<h1>Bókin</h1>
				</div>
				<div id="column-container">
					<div id="left-column">
						<div class="inside-column">

{% if object_list %}
    <table>
    {% for up in object_list %}
        <tr><td><img src="{{ up.ImageUrl }}"/></td><td><a href="../notandi/{{ up.id }}/view">{{ up.SSN}}</a></td><td>{{ up.User}}</td><td>{{ up.PhoneNumer}}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No userprofiles are available.</p>
{% endif %}



						</div>
					</div>
					<div id="right-column">
						<div class="inside-column">

							<ul class="menu">
								<li><a href="../..">Aðalsíða</a></li>
								<li><a href="../atburdir">Síðustu atburðir</a></li>
								<li><a href="">Tölfræði</a></li>
								<li><a href="">Lager</a></li>
							</ul>
							<p class="block">
							
							<DIV id="error">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</DIV>




							
							</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div id="footer">

				<p>
					&copy FBSR 2009  (útgáfa 0.0.2)
				</p>
			</div>
		</div>





</BODY>
</HTML>

