<HTML><HEAD>
<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/admin/media/css/widgets.css"/>

<link rel="stylesheet" type="text/css" href="/media/styles/fbsr.css" />
<link rel="icon" type="image/png" href="/media/favicon.png" />

</HEAD><BODY>


		<div id="page-container">
			<div id="cx-gate"></div>
			<div id="cx-left">
			<!--div class="cxf"></div><div class="cxf"></div><div class="cxf"></div><div class="cxf"></div-->
			</div>
			<div id="cx-right">
			<!--div class="cxf"></div><div class="cxf"></div><div class="cxf"></div><div class="cxf"></div-->
			</div>
			<div id="top-margin">
				<div id="search">
					<form method="get" action="http://www.google.com/search">
						<p>
							<input type="hidden" name="as_dt" value="i">

							<input type="hidden" name="as_sitesearch" value="">
							<input class="text" type="text" name="q" maxlength="255">
							<input type="submit" id="search-button" value="Search">
						</p>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<div id="page-content">

				<div id="masthead">
					<h1>Bókin</h1>
				</div>
				<div id="column-container">
					<div id="left-column">
						<div class="inside-column">

<h1>{{ event.Name }}</h1>

{%regroup eventreg|dictsort:"event_name" by event_name as event_name_list %} 
<ul>
{% for event_name in event_name_list %}
    <li><H2>{{ event_name.grouper }} <b>({{event_name.list|length}})</b></H2>
    <ul>
    <table>
        {% for item in event_name.list %}
	<tr>
	<td>{{item.registereddate}}</td>
	{% if item.imageurl %}
	  <td><img src="{{item.imageurl}}" class="reduced50"/></td>
	{% else %}
	    <td><img src="./media/nilli.jpg" class="reduced50"/></td>
	{% endif %}

      	
	<td><b>{{ item.fullname }}</b> {{ item.user_group}} {{ item.PhoneNumer}}</td>
	<td></td>
	</tr>
        {% endfor %}
    </table>
    </ul>
    </li>
{% endfor %}
</ul>



						</div>
					</div>
					<div id="right-column">
						<div class="inside-column">

							<ul class="menu">
								<li><a href="../../../..">Aðalsíða</a></li>
								<li><a href="../../../atburdir">Síðustu atburðir</a></li>
								<li><a href="">Tölfræði</a></li>
								<li><a href="">Lager</a></li>
							</ul>
							<p class="block">
							
							<DIV id="error">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</DIV>




							
							</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div id="footer">

				<p>
					&copy FBSR 2009  (útgáfa 0.0.2)
				</p>
			</div>
		</div>





</BODY>
</HTML>